body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.maincontainer {
    background-image: url(/images/mainlanding.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: auto;
    width: 1920px;
    height: 2665px;
    /* overflow: hidden; */
}


/* სექციების საერთო პარამეტრები */

.section1,
.section2,
.section3 {
    width: 800px;
    height: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* პირველი ტექსტის გასთილვა რაც ლენდინგზე ჩანს */

.landing-text {
    width: 713px;
    height: 87px;
    margin: 214px 98px 0 120px;
    object-fit: contain;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 531px 506px 315px 483px;
}

.first-text {
    font-family: CrocoSansBLACKCaps;
    font-size: 30px;
    font-weight: 900;
    font-stretch: expanded;
    font-style: normal;
    line-height: 125%;
    letter-spacing: 0.2px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 9px 17.3px rgba(39, 20, 13, 0.94);
}


/* ითამაშე ღილაკის გათილა */

.button-main-style {
    width: 713px;
    height: 87px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 93px 98px 0 120px;
}

.play-button {
    width: 180px;
    height: 60px;
    margin: -625px 364px 43px 318px;
    padding: -13px -12px;
    object-fit: contain;
    border-radius: 30px;
    background-color: #13ad4b;
    background: linear-gradient(138deg, #15b17a, #0ab413);
    cursor: pointer;
}

.play-text {
    width: 116px;
    height: 18px;
    object-fit: contain;
    font-family: CrocoSansBLACKCaps;
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 1.2px;
    text-align: center;
    color: #fff;
}


/* მთავარი ადგილი ლენდინგის */

.main-landing-place {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 695px;
    height: 920px;
    margin: -55px 95px 36px 97px;
    padding: 25px 30px 21px;
    object-fit: contain;
    border: 3px solid #945f14;
    border-radius: 40px;
    background-origin: border-box;
    background-clip: content-box, border-box;
}


/* პლინკოს პრიზები */